In [49]:
#Get mops financial data
import requests
import pandas as pd

#Enviorment Setting script ,Install package in iPython
#!pip install html5lib

In [96]:
#Data source link and parameters example
#http://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3673&SYEAR=2015&SSEASON=3&REPORT_ID=C

In [97]:
def Getmops(CO_ID="2330",SYEAR="2015",SSEASON="3"):

    mopstables ="http://mops.twse.com.tw/server-java/t164sb01"
    postData = {"CO_ID"  : CO_ID,
            "SYEAR"  : SYEAR,
            "SSEASON": SSEASON,
            "step"   : "1",
            "REPORT_ID":"C"
           }
    res = requests.post(mopstables,data=postData)
    ##assert res.status_code !=200,"Get Web data fail,Check internet connection!" 
    #if(res.status_code !=200): return [0,res.status_code] 
    
    res.encoding = "big5" #mops website use big5 format?
    tables = pd.read_html(res.text)

    return [len(tables),tables]

In [98]:
def GetmopsRev(ICO_ID=2330,IYEAR=2015,Imonth=10):

    CO_ID = str(ICO_ID)
    Tyear = str(int(SYEAR) - 1911) #convert the year format
    Tmonth = str(Imonth)
    Yearmonth = Tyear+Tmonth
    Typek ="all"

    mopslink = "http://mops.twse.com.tw/mops/web/ajax_t05st10_ifrs"

    postData = {"co_id"  : CO_ID,
            "yearmonth"  : Yearmonth,
            "year"  : Tyear,
            "month" : Tmonth,
            "TYPEK" : Typek,
            "encodeURIComponent":"1",
            "run" : "1",
            "step"   : "0",
            "firstin": "1",
            "off" : "1"
           }

    res = requests.post(mopslink,data=postData)
    res.encoding = "utf8"   #The mops web is utf8?
    tables = pd.read_html(res.text)
    
    return tables[2]    #tables[2] is target table

In [99]:
table = GetmopsRev(2330,2015,10)
table

       0          1
0     項目     營業收入淨額
1     本月   81743395
2   去年同期   80736353
3   增減金額    1007042
4  增減百分比       1.25
5   本年累計  721722200
6   去年累計  621021743
7   增減金額  100700457
8  增減百分比      16.22
9     備註        NaN

In [102]:
#Please wait for it finish to get so many tables. 
#
#Input : Stock_ID, Target_year, Target_Season
[tablelen,tables] = Getmops("2330","2015","3")
print tablelen

28

In [103]:
[tablelen,tables] = Getmops("3673","2015","3")
print tablelen

31

In [104]:
#type(tables[1])

In [105]:
tables[2].head()

,0,1,2,3,4
0,會計項目,2015年第3季,2014年第3季,2015年01月01日至2015年09月30日,2014年01月01日至2014年09月30日
1,綜合損益表,NaN,NaN,NaN,NaN
2,營業收入,NaN,NaN,NaN,NaN
3,銷貨收入淨額,NaN,NaN,NaN,NaN
4,銷貨收入淨額,34235346,32613450,86925854,89935995

In [106]:
#Tables[] Description
#1:資產負債表
#2:綜合損益表
#3:現金流量表
#4:當期權益變動表
#5:去年同期權益變動表
#6:會計師查核報告
#7:Report of Independent Auditors
#8:財報附註
#9:列入合併財務報表之子公司
#10:未列入合併財務報表之子公司無此情形／免揭露
#11:應收款項
#12:已逾期但未減損應收款項之帳齡分析
#13:應收款項之備抵呆帳變動資訊
#14:關係人交易
#15:營業收入
#16:進貨
#17:應收關係人款項
#18:應付關係人款項
#19:處分不動產、廠房及設備
tables[2]

,0,1,2,3,4
0,會計項目,2015年第3季,2014年第3季,2015年01月01日至2015年09月30日,2014年01月01日至2014年09月30日
1,綜合損益表,NaN,NaN,NaN,NaN
2,營業收入,NaN,NaN,NaN,NaN
3,銷貨收入淨額,NaN,NaN,NaN,NaN
4,銷貨收入淨額,34235346,32613450,86925854,89935995
5,營業收入合計,34235346,32613450,86925854,89935995
6,營業成本,NaN,NaN,NaN,NaN
7,銷貨成本,NaN,NaN,NaN,NaN
8,銷貨成本,45507611,30445495,95801479,82361127
9,銷貨成本合計,45507611,30445495,95801479,82361127
10,營業成本合計,45507611,30445495,95801479,82361127
11,營業毛利（毛損）,-11272265,2167955,-8875625,7574868
12,營業毛利（毛損）淨額,-11272265,2167955,-8875625,7574868
13,營業費用,NaN,NaN,NaN,NaN
14,推銷費用,NaN,NaN,NaN,NaN
15,推銷費用合計,295685,217216,687302,631177
16,管理費用,NaN,NaN,NaN,NaN
17,管理費用合計,5558854,1093041,8034262,3195314
18,研究發展費用,NaN,NaN,NaN,NaN
19,研究發展費用合計,553267,1170435,1107857,3673665
20,營業費用合計,6407806,2480692,9829421,7500156
21,營業利益（損失）,-17680071,-312737,-18705046,74712
22,營業外收入及支出,NaN,NaN,NaN,NaN
23,其他收入,NaN,NaN,NaN,NaN
24,利息收入,NaN,NaN,NaN,NaN
25,銀行存款利息,199336,278788,708950,1015494
26,其他利息收入,8706,8495,28466,11264
27,利息收入合計,208042,287283,737416,1026758
28,其他收入－其他,77719,93063,510132,861700
29,其他收入合計,285761,380346,1247548,1888458
...,...,...,...,...,...
50,本期所得稅費用（利益）,1673249,132105,2004922,449550
51,遞延所得稅費用（利益）,-964617,-247761,-1680084,-828509
52,所得稅費用（利益）合計,708632,-115656,324838,-378959
53,繼續營業單位本期淨利（淨損）,-19456972,-166837,-21079385,384919
54,本期淨利（淨損）,-19456972,-166837,-21079385,384919
55,其他綜合損益(淨額),NaN,NaN,NaN,NaN
56,不重分類至損益之項目,NaN,NaN,NaN,NaN
57,不重分類至損益之其他項目,2838858,814038,1631317,901849
58,不重分類至損益之項目總額,2838858,814038,1631317,901849
59,後續可能重分類至損益之項目,NaN,NaN,NaN,NaN
60,國外營運機構財務報表換算之兌換差額,-364752,-95865,-220235,-103908
61,採用權益法認列關聯企業及合資之其他綜合損益之份額-可能重分類至損益之項目,NaN,NaN,NaN,NaN
62,採用權益法認列關聯企業及合資之國外營運機構財務報表換算之兌換差額,13191,907,14101,10683
63,採用權益法認列關聯企業及合資之其他綜合損益之份額-可能重分類至損益之項目,13191,907,14101,10683
64,與可能重分類之項目相關之所得稅,0,2209,-1382,-5229
65,後續可能重分類至損益之項目總額,-351561,-97167,-204752,-87996
66,其他綜合損益（淨額）,2487297,716871,1426565,813853
67,本期綜合損益總額,-16969675,550034,-19652820,1198772
68,淨利（損）歸屬於：,NaN,NaN,NaN,NaN
69,母公司業主（淨利／損）,-19390150,-240871,-21022340,210569
70,非控制權益（淨利／損）,-66822,74034,-57045,174350
71,綜合損益總額歸屬於：,NaN,NaN,NaN,NaN
72,母公司業主（綜合損益）,-16918720,463782,-19593680,1004633
73,非控制權益（綜合損益）,-50955,86252,-59140,194139
74,基本每股盈餘,NaN,NaN,NaN,NaN
75,繼續營業單位淨利（淨損）,-55.15,-0.73,-61.06,0.64
76,基本每股盈餘合計,-55.15,-0.73,-61.06,0.64
77,稀釋每股盈餘,NaN,NaN,NaN,NaN
78,繼續營業單位淨利（淨損）,-55.15,-0.73,-61.06,0.64
79,稀釋每股盈餘合計,-55.15,-0.73,-61.06,0.64

In [91]:
CO_ID   ="2330"
#Yearmonth = "10409"
Tyear = "104"
Tmonth ="09"
Yearmonth = Tyear+Tmonth
Typek ="all"

mopslink = "http://mops.twse.com.tw/mops/web/ajax_t05st10_ifrs"

postData = {"co_id"  : CO_ID,
            "yearmonth"  : Yearmonth,
            "year"  : Tyear,
            "month" : Tmonth,
            "TYPEK" : Typek,
            "encodeURIComponent":"1",
            "run" : "1",
            "step"   : "0",
            "firstin": "1",
            "off" : "1"
           }


res = requests.post(mopslink,data=postData)
res.encoding = "utf8" #mops website use big5 format?
tables = pd.read_html(res.text)
#tables[2]