In [5]:
#Get mops financial data
import requests
import pandas as pd

#Enviorment Setting script in iPython ,it will install new package in iPython
#!pip install html5lib
#!pip install lxml
#!pip install beautifulsoup4
#!pip install jupyter

#Data source link and parameters example
#http://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=3673&SYEAR=2015&SSEASON=3&REPORT_ID=C

In [6]:
def Getmops(CO_ID=2330,SYEAR=2015,SSEASON=3):

    CO_ID   = str(CO_ID)
    SYEAR   = str(SYEAR)
    SSEASON = str(SSEASON)
    
    mopstables ="http://mops.twse.com.tw/server-java/t164sb01"
    postData = {"CO_ID"  : CO_ID,
            "SYEAR"  : SYEAR,
            "SSEASON": SSEASON,
            "step"   : "1",
            "REPORT_ID":"C"
           }
    res = requests.post(mopstables,data=postData)
    ##assert res.status_code !=200,"Get Web data fail,Check internet connection!" 
    #if(res.status_code !=200): return [0,res.status_code] 
    
    res.encoding = "big5" #mops website use big5 format?
    tables = pd.read_html(res.text)

    return [len(tables),tables]

In [7]:
def GetmopsRev(ICO_ID=2330,IYEAR=2015,Imonth=10):

    CO_ID = str(ICO_ID)
    Tyear = str(int(IYEAR) - 1911) #convert the year format
    Tmonth = str(Imonth)
    Yearmonth = Tyear+Tmonth
    Typek ="all"

    mopslink = "http://mops.twse.com.tw/mops/web/ajax_t05st10_ifrs"

    postData = {"co_id"  : CO_ID,
            "yearmonth"  : Yearmonth,
            "year"  : Tyear,
            "month" : Tmonth,
            "TYPEK" : Typek,
            "encodeURIComponent":"1",
            "run" : "1",
            "step"   : "0",
            "firstin": "1",
            "off" : "1"
           }

    res = requests.post(mopslink,data=postData)
    res.encoding = "utf8"   #The mops web is utf8?
    tables = pd.read_html(res.text)
    
    return tables[2]    #tables[2] is target table

In [8]:
table = GetmopsRev(2330,2015,10)
table

       0          1
0     項目     營業收入淨額
1     本月   81743395
2   去年同期   80736353
3   增減金額    1007042
4  增減百分比       1.25
5   本年累計  721722200
6   去年累計  621021743
7   增減金額  100700457
8  增減百分比      16.22
9     備註        NaN

In [33]:
#Please wait for it finish to get so many tables. 
#
#Input : Stock_ID, Target_year, Target_Season
[tablelen,tables2] = Getmops("2330","2015","3")
print tablelen

28

In [18]:
[tablelen,tables] = Getmops("3673","2015","3")
print tablelen

31

In [11]:
#type(tables[1])

In [12]:
tables[2].head()

,0,1,2,3,4
0,會計項目,2015年第3季,2014年第3季,2015年01月01日至2015年09月30日,2014年01月01日至2014年09月30日
1,綜合損益表,NaN,NaN,NaN,NaN
2,營業收入,NaN,NaN,NaN,NaN
3,銷貨收入淨額,NaN,NaN,NaN,NaN
4,銷貨收入淨額,34235346,32613450,86925854,89935995

In [44]:
#Tables[] Description
#ex: 3673
#1:資產負債表
#2:綜合損益表
#3:現金流量表
#4:當期權益變動表
#5:去年同期權益變動表
#6:會計師查核報告
#7:Report of Independent Auditors
#8:財報附註
#9:列入合併財務報表之子公司
#10:未列入合併財務報表之子公司無此情形／免揭露
#11:應收款項
#12:已逾期但未減損應收款項之帳齡分析
#13:應收款項之備抵呆帳變動資訊
#14:關係人交易
#15:營業收入
#16:進貨
#17:應收關係人款項
#18:應付關係人款項
#19:取得不動產、廠房及設備
#20:處分不動產、廠房及設備
#21:對關係人放款
#22:向關係人借款
#23:背書保證
#24:主要管理階層薪酬
#25:資金貸與他人
#26:為他人背書保證
#27:母子公司間業務關係及重要交易往來情形
#28:被投資公司名稱、所在地區…等相關資訊
#29:轉投資大陸地區之事業相關資訊
#30:轉投資大陸地區限額
tables2[11]

,0,1,2,3
0,明細表,NaN,NaN,NaN
1,項目及金額,NaN,NaN,NaN
2,項目,金額,NaN,NaN
3,本期,去年年底,去年同期,NaN
4,應收票據及帳款,97115658,115221473,114486051
5,備抵呆帳,-504026,-486730,-486618
6,合計,96611632,114734743,113999433
7,說明,本公司對客戶之授信期間原則上為發票日後30天或月結30天。備 抵呆帳係參考帳齡分析、歷史經驗...,NaN,NaN

In [14]:
CO_ID   ="2330"
#Yearmonth = "10409"
Tyear = "104"
Tmonth ="09"
Yearmonth = Tyear+Tmonth
Typek ="all"

mopslink = "http://mops.twse.com.tw/mops/web/ajax_t05st10_ifrs"

postData = {"co_id"  : CO_ID,
            "yearmonth"  : Yearmonth,
            "year"  : Tyear,
            "month" : Tmonth,
            "TYPEK" : Typek,
            "encodeURIComponent":"1",
            "run" : "1",
            "step"   : "0",
            "firstin": "1",
            "off" : "1"
           }


res = requests.post(mopslink,data=postData)
res.encoding = "utf8" #mops website use big5 format?
tablesx = pd.read_html(res.text)
#tables[2]